@media screen and (max-width: 588px){
  #content #main-content{
    width: 100%;
  }
  #content #slidebar{
    width: 100%;

  }
  #content #slidebar a{
    padding-left: 10px;
  }
  #menu .menu-item li{
    width: 40%;
  }
 img{
 	width: 100%;
 }
  
 
}