@media screen and (max-width: 321px){
	
	.menu{
		position: fixed;
		right: 0;
		background: gray;
		transition: 2s ease all;
		opacity: 0;
	}
	.menu li{
		width: 100%;
	}
	#header:hover .menu{
		opacity: 1;
		transition: 2s ease all;
	}

	#header{
		height: 80px;
		position: fixed;
		width: 100%;
		opacity: 0.4;
		transition: 0.4 ease all;
	}
	#header:hover{
		opacity: 1;
		transition: 0.4s ease all;
	}
	#content h1{
		font-size: 26px;
	}
	.form input[type=submit]{
		width: 80%;
		margin: auto 10px;
	}
}